name: Cloud Keep Alive

on:
  schedule:
    - cron: '0 0 * * *'
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  sustain:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Install Dependencies
        run: uv sync

      - name: Wake Hugging Face Spaces
        env:
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
        run: uv run hf.py

      - name: Extend PythonAnywhere Apps
        if: github.event_name == 'workflow_dispatch' || (github.event.schedule == '0 0 1 * *')
        env:
          PA_USERNAME: ${{ secrets.PA_USERNAME }}
          PA_PASSWORD: ${{ secrets.PA_PASSWORD }}
        run: uv run pa.py